* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
	font-family: "Jua", sans-serif;
	background-color: #f3f3f3;
}

.container {
	max-width: 128rem;
	margin: 0 auto;
}

.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 2.4rem;
	border-bottom: 0.3rem solid rgba(154, 154, 154, 0.09);
	margin-bottom: 3.6rem;
}

.logo-container {
	display: flex;
	align-items: center;
	gap: 0.9rem;
}

.logo-icon {
	width: 4.8rem;
}

.primary-heading {
	font-size: 3.2rem;
}

.button {
	cursor: pointer;
	font: inherit;
	background: none;
	border: none;
	display: flex;
	align-items: center;
	transition: all 0.2s;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-ms-transition: all 0.2s;
	-o-transition: all 0.2s;

	color: #303030;
	font-size: 1.5rem;
	font-weight: 500;
	border-radius: 0.5rem;
	-webkit-border-radius: 0.5rem;
	-moz-border-radius: 0.5rem;
	-ms-border-radius: 0.5rem;
	-o-border-radius: 0.5rem;
}

.button:active {
	transform: translateY(0.2rem);
	-webkit-transform: translateY(0.2rem);
	-moz-transform: translateY(0.2rem);
	-ms-transform: translateY(0.2rem);
	-o-transform: translateY(0.2rem);
}

.button--open {
	background: #55c875;
	padding: 1.1rem 1.5rem 1.1rem 1rem;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 0.6rem;
}

.button--open:hover {
	color: #2b2b2b;
	background: #4db469;
}

.open-icon {
	width: 2.2rem;
	height: 2.2rem;
}

.dialog {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	max-width: 60rem;
	background-color: #f3f3f3;
	padding: 4rem 6rem;
	box-shadow: 0 2rem 3rem rgba(0, 0, 0, 0.1);
	z-index: 100;

	border-radius: 0.5rem;
	-webkit-border-radius: 0.5rem;
	-moz-border-radius: 0.5rem;
	-ms-border-radius: 0.5rem;
	-o-border-radius: 0.5rem;

	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
}

.dialog::backdrop {
	background-color: rgba(0, 0, 0, 0.5);
}

.button--close {
	font-family: inherit;
	color: #303030;
	position: absolute;
	top: 0.5rem;
	right: 2rem;
	font-size: 4rem;
}

.form__heading {
	font-size: 2.4rem;
	margin-bottom: 3.2rem;
}

fieldset {
	border: none;
	display: grid;
	grid-template-columns: 1fr 2fr;
	align-items: center;
	gap: 2.5rem;
}

.form label {
	font-size: 1.8rem;
	font-weight: 500;
}

.form input,
.form select {
	font-size: 1.8rem;
	padding: 1.2rem;
	border: 0.1rem solid #ddd;
	border-radius: 0.5rem;
}

.button--add {
	margin: 2rem auto 0;
	font-size: 1.8rem;
	background-color: #55c875;
	padding: 1.1rem 1.5rem 1.1rem;
}

.books {
	padding: 0 3.4rem;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	justify-items: center;
	gap: 3rem;
}

.book {
	width: 26rem;
	height: 38.5rem;
	background: #fff;
	text-align: center;
	padding: 1.2rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	position: relative;
	overflow: hidden;

	border-radius: 1rem;
	-webkit-border-radius: 1rem;
	-moz-border-radius: 1rem;
	-ms-border-radius: 1rem;
	-o-border-radius: 1rem;
}

.book--read::after {
	content: "Read";
	position: absolute;
	top: 5%;
	left: -13%;
	text-transform: uppercase;
	font-size: 1rem;
	font-weight: 500;
	color: #333;
	background-color: #55c875;
	padding: 0.5rem 5rem;
	transform: rotate(-45deg);
}

.buttons {
	position: absolute;
	top: 1rem;
	right: 1rem;
	display: flex;
	gap: 0.2rem;
}

.book__title {
	font-size: 3.2rem;
}

.book__author {
	font-size: 2.2rem;
}

.book__pages {
	font-size: 1.6rem;
	position: absolute;
	margin: 0 auto;
	bottom: 5%;
}
